extends ../layout

block content
  h1= title
  p Welcome to #{title}

  h2 Report: #{report}

  each resource in resources
    div(id=resource._id class='location')
      p
        strong Identifier: #{space}
        a(href='/locations/' + resource._id) #{resource._id}

      p
        strong System:
        |  #{resource.system}
        br
        strong Solution:
        |  #{resource.solution}

      hr

      if resource.application[0]
        h2 #{resource.application[0].name}: #{resource.application[0].routine} @ #{resource.application[0].domain}.#{resource.application[0].element}

        p
          strong Location's type:
          |  Application
        p
          strong Name:
          |  #{resource.application[0].name}
          br
          strong Domain:
          |  #{resource.application[0].domain}
          br
          strong Element:
          |  #{resource.application[0].element}
          br
          strong Routine:
          |  #{resource.application[0].routine}

      if resource.subsystem[0]
        h2 #{resource.subsystem[0].type}: #{resource.subsystem[0].name}

        p
          strong Location's type:
          |  Subsystem
        p
          strong Name:
          |  #{resource.subsystem[0].name}
          br
          strong Type:
          |  #{resource.subsystem[0].type}

      else if resource.special[0]
        h2 #{resource.special[0].type}

        p
          strong Location's type:
          |  Special
        p
          strong Description:
          |  #{resource.special[0].description}
          br
          strong Type:
          |  #{resource.special[0].type}

      hr

      h3 Inputs

      each input in resource.inputs
        p.parameter
          strong #{input.type}:
          |  #{input.name}
          br
          if input.value
            | #{input.value}

      h3 Outputs

      each output in resource.outputs
        p.parameter
          strong #{output.type}:
          |  #{output.name}
          br
          if output.value
            | #{output.value}

  script.
    if(window.location.hash) {
      var element = document.getElementById(window.location.hash.substring(1));
      element.className = 'selected ' + element.className;
    }
